@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RocketLeagueWars.Models.TeamSeasonStats>

@Html.Partial("_LeagueMenuPartial", Model.Last())
<table class="table">
    <tr>
        <th>
            Team
        </th>
        <th>
            Points
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Index", 
                     new 
                         { 
                           controller = "Team", 
                           id = item.TeamID
                         })">@item.TeamName</a>
            </td>
            <td style="text-align: right">
                @item.Points
            </td>
            <td style="text-align: right">
                @item.Wins
            </td>
            <td style="text-align: right">
                @item.Losses
            </td>
        </tr>
    }
</table>
