@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RocketLeagueWars.Models.SubmitGameModel

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-left: auto; margin-right: auto; width: 60%;">
        <legend class="legend">Submit Game</legend>
        <div style="float:right; margin-right: 30%; font-weight: bold; font-size:small">
                <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            Winning Player(s):
                                        </td>
                                    </tr>
                                    @for (int i = 0; i < Model.WinningPlayersList.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Model.WinningPlayersList[i].Username 
                                                <input type="checkbox" name="winningplayer" class="winner" value="@Model.WinningPlayersList[i].UserID" onchange="playerChange()" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                            <td>
                                <table id="losingplayers">
                                
                                </table>
                            </td>
                        </tr>
                    </table>
            </div>
        <div>
            <div style="width:40%">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.WinningTeamID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.WinningTeamID,
                                new SelectList(Model.WinningTeamDDL, "Value", "Text"), new { @id = "ddlWinning" })
                            @Html.ValidationMessageFor(m => m.WinningTeamID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.LosingTeamID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.LosingTeamID,
                                new SelectList(Model.LosingTeamDDL, "Value", "Text"), new { @id = "ddlLosing" })
                            @Html.ValidationMessageFor(m => m.LosingTeamID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.GameTypeID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(m => m.GameTypeID,
                                new SelectList(Model.GameTypesDDL, "Value", "Text"), new { @id = "ddlGameType", @onchange="gameTypeChange()" })
                            @Html.ValidationMessageFor(m => m.GameTypeID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.WinningScore)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.WinningScore)
                            @Html.ValidationMessageFor(m => m.WinningScore)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.LosingScore)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.LosingScore)
                            @Html.ValidationMessageFor(m => m.LosingScore)
                        </td>
                    </tr>
                </table>
                <input type="submit" id="btnSubmit" value="Submit" />
            </div>
            
        </div>
    </fieldset>
}
    
<script>
    $(document).ready(function () {
        $("#ddlWinning").prop("disabled", true);
        $("#btnSubmit").prop("disabled", true);
        $("#btnSubmit").prop("title", "Select Players");
    });

    $("#ddlLosing > option").each(function () {
        var winningID = $("#ddlWinning").val();
        var thisID = $(this).val();
        if (winningID == thisID) {
            $(this).remove();
        }
    });

    $("#ddlLosing").change(function () {
        $("#losingplayers").empty();

        $.ajax({
            url: '../Team/GetPlayers',
            type: 'POST',
            datatype: 'json',
            data: { id : $("#ddlLosing").val() },
            success: function (data) {
                $('#losingplayers').append('<tr><td>Losing Player(s):</td></tr>');
                $.each(data, function (i, item) {
                    $('#losingplayers').append('<tr><td>' + item.Username + '<input type="checkbox" name="losingplayer" class="loser" onchange="playerChange()" value="' + item.UserID + '" /></td></tr>');
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    function playerChange() {
        var playersNeeded = $("#ddlGameType").val();
        
        var winningPlayers = 0;
        var losingPlayers = 0;
        $(".winner").each(function () {
            if ($(this).is(':checked')) {
                winningPlayers++;
            }
        });
        $(".loser").each(function () {
            if ($(this).is(':checked')) {
                losingPlayers++;
            }
        });

        if (winningPlayers == playersNeeded && losingPlayers == playersNeeded) {
            $("#btnSubmit").prop("disabled", false);
            $("#btnSubmit").prop("title", "");
        }
        else {
            $("#btnSubmit").prop("disabled", true);
            $("#btnSubmit").prop("title", "Select Players");
        }
    }

    function gameTypeChange() {
        $(".winner").each(function () {
            $(this).prop("checked", false);
        });
        $(".loser").each(function () {
            $(this).prop("checked", false);
        });
    }
</script>